.icon-git{
	background-position: -149px -6px;
	background-repeat: no-repeat;
	background-image: url(../images/icon/symbols-sprite.png);
	height: 42px;
	opacity: 0.2;
	width: 64px;
}
.icon-question{
	background-position: -162px -51px;
	background-repeat: no-repeat;
	background-image: url(../images/icon/symbols-sprite.png);
	height: 58px;
	opacity: 0.2;
	width: 90px;
}