.logo-seperator{
	@include fill-parent;
	display: table;
	text-align: center;
	img{
		position: relative;
		opacity:.2;
		margin: 0;
		max-width: 100%;
		z-index: 2;
	}
	.logo-line:before, .logo-line:after{
		background-color: #ccc;
		content: " ";
		width: 44%;
		height: 1px;
		margin: auto;
		position: relative;
		top: -26px;
		z-index: 0;
		display: block;
		left: -26%;
	}
	.logo-line:after{
		left: inherit;
		right: -26%;
	}
}